body { 
  margin: 2px;
  background-color: rgb(137, 224, 240);
}


.card { 
  float:left;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right:10px;
  border: 1px solid;
  border-radius: 10px;
  max-width: 200px;
  text-align: center;
  padding: 10px;
  display: inline-block;
  box-shadow: 5px 5px rgb(146, 243, 222);
}

.card-section {
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
  padding: 20px;
  margin: 20px auto;
  width: 80%;
  overflow: auto;
  box-shadow: 0 0 15px rgb(130, 132, 243);   
}


.card-container {
  overflow: auto;
  padding: 10px;

}

.card2 {
  float: right;
  border: 1px solid;
  border-radius: 10px;
  max-width: 250px;
  text-align: center;
  padding: 10px;
  margin-left: 20px;
  box-shadow: 5px 5px rgb(169, 231, 247);
}

.text {
  text-align:center;
  padding:100px;
}


/* Old navbar styles removed - using Header.css instead */

.fp{ 
  font-size: large;
  text-align: center;
}

.fb{ 
  background-color: rgb(123, 187, 243);
  height:50px;
  width:content;
  padding:10px;
}

.ci{ 
  height:200px;
  width: 150px;
}
.title{ 
  font-weight: bolder;
}